* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

a {
	text-decoration: none;
}

h2, h3 {
	font-size: 2em;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	word-spacing: 3px;
	line-height: 50px;
	margin-bottom: 20px;
}

.container {
	width: 1240px;
	margin: 0 auto;
}

.row,
.secondrow .container,
.thirdrow .container {
	display: flex;
}

.row-header {
	justify-content: space-between;
	padding: 40px 0;
}

.nav-menu li {
	list-style: none;
	display: inline-block;
	font-size: 16px;
}

.nav-menu li a {
	display: inline-block;
	color: #121212;
	padding: 10px 25px;
	font-family: Raleway, sans-serif;
}

.nav-menu li a:hover {
	color: hsl(224, 93%, 58%);
}

content {
	margin-top: 25px;
}

.flex {
	flex: 1;
}

.content-subscription,
.secondrow .container .content-subscription,
.thirdrow .container .content-subscription {
	margin: auto;
	margin-right: 100px;
}

.content-subscription p,
.secondrow .content-subscription p,
.thirdrow .container .content-subscription p {
	color: #121212;
	margin-bottom: 15px;
	line-height: 25px;
}

.content-subscription form {
	display: flex;
	justify-content: space-between;
}

.content-subscription input[type="text"],
.thirdrow input[type="text"] {
	padding: 15px;
	flex: 2;
	margin-right: 10px;
}

.content-subscription input[type="button"],
.thirdrow input[type="button"] {
	padding: 15px;
	flex: 1;
	border: none;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	background-color: hsl(224, 93%, 58%);
	color: #fff;
	box-shadow: 1px 1px 4px hsl(170, 45%, 43%);
}

.content-subscription input[type="button"]:hover {
	cursor: pointer;
	background-color: hsl(224, 93%, 38%);
}

.secondrow {
	margin-top: 150px;
	padding: 100px 0;
	background: url("images/bg-curve-desktop.svg") center;
	background-size: cover;
}

.secondrow .content-subscription > p {
	width: 90%;
}

.secondrow .content-subscription a {
	color: #5a8782;
}

.user-testimoni {
	margin-top: 32px;
	width: 70%;
	padding: 28px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px #ddd;
	font-family: Raleway;
}

.user-profile {
	 display: flex;
	 align-items: center;
}

.user-profile img {
	width: 10%;
	border-radius: 50%;
	margin-right: 10px;
}

.user-profile span {
	font-size: 0.8em;
}

.user-profile strong {
	font-weight: 700;
}

.thirdrow {
	margin-top: 0;
	padding: 80px 0;
	background-color: #575989;
	color: #fff;
}

.thirdrow .container .content-subscription p {
	color: #fff;
}

.thirdrow .flex form {
	padding: 10px;
}

.thirdrow input[type="text"] {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	padding: 15px 25px;
}

.thirdrow input[type="button"] {
	padding: 15px 25px;
}

footer {
	background-color: #07043b;
	padding: 80px 0 20px;
	color: #fff;
}

footer .container {
	display: flex;
	flex-direction: column;

}

footer .container .footer-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
}

.footer-menu .flex:not(:last-child) {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.footer-menu .flex:first-child {
	margin-right: 200px;
}

.footer-menu .flex:first-child img {
	margin-right: 20px;
}

.footer-menu .flex p {
	margin-bottom: 20px;
}

.footer-menu .flex p a {
	color: #fff;
	font-family: Raleway, sans-serif;
}

.footer-menu .flex p a:hover {
	color: #3065f8;
}

.footer-menu .social-menu img {
	border: 1px solid #fff;
	margin-right: 10px;
	border-radius: 50%;
	padding: 10px;
}
